html {
  min-height: 100%;
  position: relative;
}

.regis {
  display: none;
}

body {
  background: url(../img/cream_dust.png) repeat 0 0;
  margin-bottom: 60px;
}

.print {
  border: 0px;
  box-shadow: 0px 0px 3px 1px;
}

h1, h2, h3, h4, h5, h6 {font-family: 'Corben', Georgia, Times, serif;} p, div {font-family: 'Nobile', Helvetica, Arial, sans-serif;}

.navbar-static-top {
    border-color: #e7e7e7;
    background-color: #fff;
    box-shadow: 0px 1px 11px 2px rgba(42, 42, 42, 0.1);
    border-top: 4px solid #f46660;
    margin-bottom: 40px;
    margin-top: 0px;
}

.text-danger {
  color: #f46660;
}

.text-size {
  font-weight: bold;
}

.text-underline {
  border-bottom: 1px solid;
}

.text-underver {
  text-decoration: underline;
}

.text-circle {
  border-width: 30px;
  height: 20px;
  border-radius: 100%;
  margin:auto;
  border: solid 1px red;
}

#navbarNavDropdown {
  border: 0;
}

.card-body {
  border:0;
}
.confirm-panel {
  display: none;
}

.mt-0 {
  padding-bottom: 20px;
}

.mt-0 .space {
  padding-top: 20px;
}

.mt-0 h1 {
  text-align: center;
}

h4 {
  text-indent: 1.5em;
}

h5 {
  text-indent: 0.2em;
}

.mt-2 {
  text-indent: 1em;
}

.mt-3 {
  text-indent: 4em;
}

.mt-1 {
  text-indent: 1em;
}

.mp-1 {
  padding-top:1.5em;
}

.img-mt {
  margin-top: 1.5em;
}

.img-mt .img-mt-1 {
  transform:rotate(40deg);
  -ms-transform:rotate(40deg); 	/* IE 9 */
  -moz-transform:rotate(40deg); 	/* Firefox */
  -webkit-transform:rotate(40deg); /* Safari and Chrome */
  -o-transform:rotate(40deg); 	/* Opera */
}

.detail-1 {
  line-height: 300%;
  padding: 2% 5% 5% 5%;
}
.btn-mp-1 {
  margin-left:1em;
}

.p-blank {
  padding:10px;
  border: 1px solid silver;
  border-radius: 0.5%;
  background-color: white;
}

.has-error :focus {
  border-color: #f84545 !important;
}
.error {
  color: #f84545;
}

.has-success {
  border-color: #96B97D;
}

.btn-space {
  margin-right: 5rem;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.tab-pane {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
    background-color : white;
}

.nav-tabs {
  border:0;
}

.collapse {
  border-bottom: 1px solid #ddd;
}

@media (max-width: 575.98px) {
  button {
    margin-bottom: 3px;
  }
  h4 {
    text-indent: 0.5em;
  }
  .mt-1 {
    text-indent: 0;
  }
  .mt-2 {
    text-indent: 0em;
  }
  #nav-tab .nav-link {
    display:inline-block;
    width: 100%;
  }
  label {
    display: block;
    width: 100%;
  }
}

input.error { border: 1px solid red; }
